<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Que opciones quieres ver?
    <br>
    <!-- Aqui habra que poner las opciones relacionadas a lo general de la pagina es decir configuraciones basicas -->
    <a href="infcon1.html">Informacion general</a>
    <br>
    <a href="index.html">volver</a>
</body>
</html>